/* HEX COLOR PALETTE ORANGE-CLASSY */
* {
  box-sizing: border-box; }

html {
  font-family: 'Muli', sans-serif;
  font-style: normal;
  font-size: 16px;
  overflow: auto;
  width: 100%;
  color: #403D39; }
  html body {
    margin: 0;
    width: 100%; }
    html body .header {
      align-items: center;
      background-color: #EDE9E1;
      box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.2);
      display: flex;
      flex-direction: row;
      height: 64px;
      justify-content: space-between;
      left: 0;
      position: fixed;
      padding: 0 24px;
      top: 0;
      width: 100%; }
      html body .header__logo-title {
        display: flex;
        height: 40px;
        width: auto;
        align-items: center; }
      html body .header__logo-image {
        height: 100%;
        width: auto; }
      html body .header__logo-text {
        color: #EB5E28;
        font-size: 24px; }
        html body .header__logo-text span {
          color: #403D39;
          font-weight: bold; }
      html body .header__nav {
        align-items: center;
        display: flex;
        height: 32px;
        justify-content: space-between;
        width: auto; }
        html body .header__nav a {
          color: #252422;
          font-size: 16px;
          padding: 4px 8px;
          text-decoration: none;
          border-right: 1px solid grey; }
          html body .header__nav a:last-child {
            border-right: 0; }
    html body .main {
      padding-top: 64px;
      display: flex;
      flex-direction: column;
      width: 100%; }
      html body .main .default-layout {
        display: flex;
        flex-direction: row;
        height: auto;
        padding: 32px 24px;
        width: 100%; }
      html body .main .left-box {
        height: auto;
        padding-right: 24px;
        width: 60%; }
      html body .main .right-box {
        padding-left: 24px;
        width: 40%; }
      html body .main .banner-section {
        background-color: #FFFBF0; }
        html body .main .banner-section__image img {
          border-radius: 2px;
          width: 100%; }
        html body .main .banner-section__text {
          align-items: center;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: 100px 24px;
          text-align: center; }
          html body .main .banner-section__text h1 {
            font-size: 40px;
            font-weight: 800; }
          html body .main .banner-section__text p {
            font-size: 20px;
            font-weight: 600; }
          html body .main .banner-section__text a {
            background-color: #EB5E28;
            border-radius: 2px;
            box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.1);
            color: #FFFBF0;
            display: flex;
            font-size: 18px;
            font-weight: 400;
            justify-content: center;
            padding: 16px 80px;
            text-align: center;
            text-decoration: none;
            transition: color, background-color 300ms ease-in-out;
            width: auto; }
            html body .main .banner-section__text a:hover {
              background-color: #CCC4B8;
              color: #403D39;
              font-weight: 400; }
            html body .main .banner-section__text a:active {
              transform: scale(0.98); }
      html body .main .articles-section {
        background-color: #EDE9E1; }
        html body .main .articles-section__article img {
          border-radius: 2px;
          width: 100%; }
        html body .main .articles-section__article h2 {
          font-size: 32px;
          font-weight: 800;
          padding-top: 32px;
          padding-left: 10px; }
        html body .main .articles-section__article p {
          font-size: 16px;
          font-weight: 400;
          line-height: 1;
          padding: 24px 60px 32px 10px; }
        html body .main .articles-section__article h6 {
          font-size: 12px;
          font-weight: 300;
          padding-left: 10px; }
        html body .main .articles-section__list {
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
        html body .main .articles-section__miniart {
          background-color: #FFFBF0;
          border: 1px solid #F4F4ED;
          box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: row;
          transition: all 300ms ease-in-out; }
          html body .main .articles-section__miniart:hover {
            background-color: #EDE9E1;
            border: 1px solid #EDE9E1;
            box-shadow: none; }
          html body .main .articles-section__miniart img {
            height: 100%;
            padding: 16px;
            width: 35%;
            border-radius: 2px; }
        html body .main .articles-section__text {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          padding: 32px 16px;
          width: 65%; }
          html body .main .articles-section__text h4 {
            font-size: 20px;
            font-weight: 600; }
          html body .main .articles-section__text p {
            font-size: 16px;
            font-weight: 400;
            line-height: 1; }
          html body .main .articles-section__text a {
            color: #EB5E28;
            font-size: 12px;
            font-weight: 300; }
      html body .main .courses-section {
        align-items: center;
        background-color: #CCC4B8;
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 16px 72px 32px 72px;
        text-align: center;
        width: 100%; }
        html body .main .courses-section h2 {
          font-size: 32px;
          font-weight: 800;
          padding: 16px 32px; }
        html body .main .courses-section__all {
          display: flex;
          flex-wrap: wrap;
          justify-content: center; }
        html body .main .courses-section__course {
          background-color: #F4F4ED;
          box-shadow: 0px 0px 16px 2px rgba(0, 0, 0, 0.2);
          margin: 16px;
          height: 80%;
          width: 27%; }
          html body .main .courses-section__course img {
            border-radius: 2px;
            height: auto;
            width: 100%; }
        html body .main .courses-section__text {
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          min-height: 140px;
          padding: 16px;
          text-align: left; }
          html body .main .courses-section__text h4 {
            font-size: 20px;
            font-weight: 600;
            padding: 4px; }
          html body .main .courses-section__text h5 {
            font-size: 16px;
            font-weight: 200;
            padding: 4px; }
          html body .main .courses-section__text p {
            font-size: 16px;
            font-weight: 300;
            line-height: 1;
            padding: 4px; }

/*# sourceMappingURL=style.css.map */
